/* * {
  border: 1px solid red
} */
.logo[data-v-9522b9ce] {
  background-image: url("/CoffeeWorker/assets/Logo-FswmBep0.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 120px;
  text-decoration: none;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
.nav-link.active.router-link-exact-active[data-v-9522b9ce] {
  color: #ffa00b;
  border-bottom: 2px solid #ffa00b;
}
.animated-border[data-v-9522b9ce] {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #181818;
  transition: color 0.3s;
}
.animated-border[data-v-9522b9ce]::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffa00b;
  transition: width 0.3s ease-in-out;
}
.animated-border[data-v-9522b9ce]:hover::before {
  width: 100%;
}
.social-item[data-v-9522b9ce] {
  list-style: none;
  width: 40px;
  height: 40px;
  background-color: #ffa00b;
}
.social-item[data-v-9522b9ce]:hover {
  border: 1px solid #ffa00b;
  background-color: #201617;
}
.line[data-v-9522b9ce] {
  position: relative;
  display: block;
  height: 1px;
  width: 100%;
  flex: 1;
  top: 0px;
  border: 1px dashed #fff;
}